@font-face {
    font-family: poppins;
    src: url(font/Poppins-Regular.ttf);
}

* {
    font-family: poppins;
}

body{
    background: #FF788B;
}

.custom-nav{
    background-color: #FF788B;
    border: none;
}

.custom-sidebar {
    background-color: #FF788B;
    box-shadow: none !important;
    padding: 0 10px;
    overflow: hidden;
}

.bg-pink {
    background-color: #FF788B;
}

/* input-custom */
.input-custom {
    width: 370px;
    height: 50px;
    border-radius: 15px !important;
    text-indent: 40px;
    margin-top: 20px;
}

.search-icon {
    top: 10px;
    left: 10px;
}

.profile {
    height: 69px !important;
    width: 68px;
    margin-right: 30px;
}
 

.notif {
    color: white;
    font-size: 40px;
}

.notif-badge {
    right: 20px;
    width: fit-content;
}

.sidebar {
    height: 80vh !important;
    
}

.custom-item {
    height: 100%;
}

.custom-item .nav-item{
    margin: 10px 0;
    border-radius: 25px;
    
}

.custom-item .nav-item:hover, .custom-item .nav-item.active{
    background-color: #FFDCEA;
}

.custom-item .nav-item a{
    color: white;
    width: 100% !important;
}

.custom-item .nav-item:hover a, .custom-item .nav-item.active a{
    color: #FF788B !important;
}

.custom-cw{
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 50%);
}

.custom-wrap{
    padding: 20px 20px 0 20px;
}

.main-footer{
    background: #FF788B;
    border: none;
}

.d-header{
    font-size: 24px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 30px;
}

.btn-pink{
    background: #FFDCEA;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
}

.tabel-custom thead tr th {
    box-shadow: 0px 4px 3px 0px rgb(0 0 0 / 21%);
    background: #C7F2FF;
    border: none;
    text-align: center;
}

.tabel-custom tbody tr td {
    border-top: none;
    border-bottom: 1px solid #D3D8DF;
}

.btn-t{
    color: white;
    background-color: #FF788B;
    font-size: 12px;
    width: 70px;
    text-align: center;
}